  .content {
      display: flex;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
  }
  
  a > button {
    bottom: 2px;
    right: 10px;
  }

  p {
    margin: 8px;
  }

  hr {
    width: 80%;
  }